{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block container %}

    {% if user.is_authenticated or user.is_superuser %}
        <h2>Mudar senha</h2>
        <form method="POST" class="table" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-group">
                {{form|crispy}}
            </div>
            <button type="submit" class="save btn btn-success ">Salvar</button>
        </form>
    {% else %}
        <div class="alert alert-warning">
            Você não tem permissão para acessar essa página, faça <a href="/accounts/login/">login aqui.</a>
        </div>
    {% endif %}
{% endblock %}