{% extends "base.html" %}
{% block container %}
<div class="card-body">
<div class="row justify-content-center">
  <div class="col-md-8 col-md-offset-2"> 
    <div class="page-header">
      <div class="card-body">
        <h5>Insira seu email válido abaixo para o envio de um link de redefinição de sua senha.</h5>
      </div> 
        {% for error in form.non_field_errors %}
                  <div class='alert alert-danger'>
                      {{ error }}
                  </div>
        {% endfor %}
    </div>  
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">E-mail:</label>
            <input name="email" type="email" class="form-control" required>
        </div>
        <div class="form-row">
            <div class="col-md-10 offset-md-1">
              <div class="form-group mt-0 mb-1">
                  <button type="submit" class="col-md-12 btn btn-success">Entrar
                  </button>
              </div>
           </div>
         </div>
    </form>
    <div class="col-md-10 offset-md-1">
      <div class="form-group mt-0 mb-1">
        <a class="text-dark" href="javascript:history.back()">Voltar</a>
      </div>
    </div>
  </div>
</div>
{% endblock container %}