{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block container %}

    {% if validlink %}
    <h2>Redefinir senha</h2>
        <form method="POST" class="table" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-group">
                {{form|crispy}}
            </div>
            <button type="submit" class="save btn btn-success ">Salvar</button>
        </form>
    {% else %}
        <div class="alert alert-warning">
            O link de redefinição de senha está inválido, possivelmente porque já foi usado.
            Solicite uma nova redefinição de senha.
        </div>
    {% endif %}
{% endblock %}