{% extends 'base.html' %}
{% block container %} 
    <div class="card">
        <div class="card-header">
          Dados cadastrais
        </div>
        <div class="card-body">
          <h5 class="card-title"><b>{{ user.name }}</b></h5>
          <p class="card-text"><b>Username: </b>{{ user.username }}</p>
          <p class="card-text"><b>E-mail: </b>{{ user.email }}</p>
          <p class="card-text"><b>Status: </b>
            {% if user.is_active %}
              Ativo
            {% else %}
              Inativo
            {% endif %}
          </p>
        
          <div class="container pt-3">
            <div class="row g-2">
              <div class="col-12 col-md-2 order-2 order-md-1">
                  <a class="btn btn-primary" href="/accounts/update/" class="card-link">Alterar dados</a>
              </div>
              <div class="col-12 col-md-2 order-1 order-md-2">
                  <a class="btn btn-primary" href="/accounts/change-password/">Mudar a senha</a>
              </div>
              <div class="col-12 col-md-2 order-3">
                  <a class="btn btn-danger" href="/accounts/delete/" class="card-link">Excluir conta</a>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock container %}