{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block container %}
<div class="table-responsive">
<table class="table table-striped">
    <th><h1>Lista de tarefas</h1></th>
    <th>
      <a href="/tasks/create/" class="text-primary">
        <button type="button" class="btn btn-success">Adicionar</button>
      </a>
    </th>
</table>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Descrição</th>
            <th scope="col">Status</th>
            <th cope="col">Período</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
        {% for task in object_list %}
          <tr>
            <td>
                {{ task.title }}
            </td>
            <td>{{ task.description }}</td>
            <td>
                {% if task.status %}
                    <p class="text-success"><b>Finalizada</b></p>
                {% else %}
                    <a href="/tasks/finish/{{ task.id }}">
                      <button type="button" class="btn btn-outline-primary">Finalizar</button>
                    </a>
                {% endif %}
            </td>
            <td>
                {% if task.status %}
                    De {{task.creation_date|date:"d/m/Y" }} a {{task.date_conclusion|date:"d/m/Y" }}.
                {% else %}
                    De {{task.creation_date|date:"d/m/Y" }} até agora.
                {% endif %}
            </td>
            <td>
                <div class="d-flex justify-content-around">
                  <a href="/tasks/update/{{ task.id }}" data-toggle="tooltip" data-placement="top" title="Editar"> 
                      <img src="/static/icons/pencil-square.svg" width="20" height="20" alt="edit">
                  </a>
                
                  <a href="/tasks/delete/{{ task.id }}" data-toggle="tooltip" data-placement="top" title="Apagar">
                      <img src="/static/icons/trash-fill.svg" width="20" height="20" alt="edit">
                  </a>
                </div>
                
            </td>
          </tr>
          {% endfor %}
        </tbody>
</table>
</div>
{% endblock %}